html
  head
    Title Blog
    link(href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css")
    link(rel="stylesheet" href="/custom.css")
  body
    nav
      div(class="nav-wrapper")
        ul(id="nav-mobile" class="left")
          if user
            li
              a(href="/") POSTS
            li
              a(href="/profile") PROFILE
            li
              a(href="/add-post") NEW POST
            li
              a(href="/logout") LOGOUT
          else
            li
              a(href="/log-in") LOGIN
            li
              a(href="/register") REGISTER
            li
              a(href="/") POSTS

    img(src="/images/intro.jpg")
    script(src="https://code.jquery.com/jquery-2.1.1.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js")

    block content
