extends ./application.pug
block content
  h3 Edit your post!
  .card
    h4(class="card-title") Title:  #{post.title}
    p(class="card-text") Message: #{post.body}


  div(class="row")
  form(class="col s12" action="/edit/"+post.id method="post")
    input(type="hidden" name="_method" value="PUT")
    div(class="row")
      div(class="col s6")
        input(placeholder="Message" name="body" id="body" type="text" class="validate")
    button(class="btn waves-effect waves-light" type="submit" name="action") Submit
      i(class="material-icons right")
